<div class="page" vk-forceredraw>
    <header di-header-banner pr-back="true" pr-home="false" pr-header-first-line-localized="_NewSubscriberProfile_Title_" />

    <div class="contentWithoutSubs contentPadding">
        <form name="newSubscriberForm" novalidate>

            <div>
                <label for="surname">
                    <span i18n="_NewSubscriberProfile_InputSurname_"></span> *
                </label>
                <div class="error" ng-show="newSubscriberForm.$submitted && !newSubscriber.surname" i18n="_Required_" />
                <input id="surname" ng-required class="input-block-level" type="text" di-keyboard-helper-target di-capitalize-first 
                       ng-model="newSubscriber.surname" i18n-placeholder="_NewSubscriberProfile_InputSurnameHolder_" />
            </div>

            <div>
                <label for="inputInsertion" i18n="_NewSubscriberProfile_InputInsertion_"></label>
                <input id="inputInsertion" class="input-block-level" type="text" di-keyboard-helper-target ng-model="newSubscriber.insertion" 
                       i18n-placeholder="_NewSubscriberProfile_InputInsertionHolder_" />
            </div>

            <div>
                <label for="inputFirstname" i18n="_NewSubscriberProfile_InputFirstname_"></label>
                <input id="inputFirstname" class="input-block-level" type="text" di-keyboard-helper-target di-capitalize-first 
                       ng-model="newSubscriber.firstName" i18n-placeholder="_NewSubscriberProfile_InputFirstnameHolder_" />
            </div>

            <div>
                <label for="inputGender" i18n="_NewSubscriberProfile_InputGender_"></label>
                <select class="needsclick" id="inputGender" ng-model="newSubscriber.gender" 
                        ng-options="g.id as g.value for g in genderValues">
                    <option value="" i18n="_PleaseSelect_"></option>
                </select>
            </div>

            <div>
                <label for="inputOrganization">
                    <span i18n="_NewSubscriberProfile_InputOrganization_"></span> * 
                </label>
                <div class="error" ng-show="newSubscriberForm.$submitted && !newSubscriber.organizationId" i18n="_Required_" />
                <select class="needsclick" ng-required id="inputOrganization" ng-model="newSubscriber.organizationId"
                        ng-options="o.Id as o.Name for o in organizations">
                    <option value="" i18n="_PleaseSelect_"></option>
                </select>
            </div>

            <div>
                <label i18n="_NewSubscriberProfile_InputBirthdate_"></label>
                <di-datepicker
                    pr-show-time="false"
                    pr-start-year-delta="-150"
                    pr-end-year-delta="0"
                    pr-default-year-delta="-60"
                    pr-binding="newSubscriber.birthDate"
                    class="textGray"
                    di-keyboard-helper-target>
                </di-datepicker>
            </div>

            <div>
                <label for="inputSocialnr" i18n="_NewSubscriberProfile_InputServ.nr_"></label>
                <div class="error" ng-show="newSubscriberForm.$submitted && newSubscriberForm.inputSocialnr.$invalid" i18n="_NewSubscriberProfile_InputServ.nrValidation_" />
                <input id="inputSocialnr" type="number" di-keyboard-helper-target name="inputSocialnr" ng-model="newSubscriber.serviceNr" i18n-placeholder="_NewSubscriberProfile_InputServ.nrHolder_" ng-pattern="" />
            </div>

            <div>
                <label for="inputRemark" i18n="_NewSubscriberProfile_InputRemark_"></label>
                <textarea id="inputRemark" class="input-block-level" rows="5" di-keyboard-helper-target ng-model="newSubscriber.remark" i18n-placeholder="_NewSubscriberProfile_InputRemarkHolder_" />
            </div>
        </form>

        <div di-keyboard-helper />
    </div>

    <footer class="text-center">
        <div class="centerDiv">
            <div class="touchArea touchAreaWidth">
                <button class="buttonTransparent" type="button" ng-click="submitFirstPage()">
                    <img src="../../shared/img/forward-arrow-white_35x35.png" width="36" height="36" />
                    <div i18n="_NewSubscriberProfile_NextPage_"></div>
                </button>
            </div>
        </div>
    </footer>
</div>
