<div class="searchSubscriberResult page">

    <header di-header-banner pr-back="true" pr-home="true" pr-header-first-line-localized="_SearchSubscribers_Title_" />

    <div class="contentWithoutSubs">
        <div class="imageContainer">
            <img src="../../shared/img/subscriber-active_128x128.png" />
        </div>

        <div class="searchControls">
            <form class="form-search" name="searchSubscriberForm" novalidate ng-submit="searchSubscribers()">
                <div class="input-append">
                    <input name="searchInput" class="span2 search-query" type="text" required 
                           di-keyboard-helper-target di-capitalize-first ng-minlength="3" ng-model="searchText" placeholder="Johnson" />
                    <button class="btn" type="submit" i18n="_SearchSubscribers_Search_"></button>
                </div>

                <p class="error" ng-show="submitted && searchSubscriberForm.searchInput.$invalid" i18n="_SearchSubscribers_Required_" />
            </form>

            <p class="textGray" ng-show="searchSubscribersViewModel.data.length == 0 && !loading && userHasPushedSearchButton"
               i18n="_SearchSubscriber_NoData_" />
        </div>

        <div class="centerBoxContentLeftAlign touchArea"
             ng-repeat="personViewed in recentViews track by personViewed.id" 
             ng-show="!userHasPushedSearchButton"
             ng-click="navigateToRecentView(personViewed)">

            <img src="../../shared/img/subscriber-normal_24x24.png" />
            <h5 class="textGray" ng-bind="personViewed.name" />
        </div>

        <div class="list" ng-repeat="row in searchSubscribersViewModel.data">
            <div class="imgInlineHeading " ng-click="selectSubscriber(row)">
                <h4>
                    <img src="../../shared/img/subscriber-active_24x24.png" />{{row.SubscriberName}}
                </h4>
                <img class="pull-right" src="../../shared/img/arrow_right-gray_24x24.png" />
                <div class="messageSubject textGray">{{row.StreetAddress}}</div>
                <div class="messageSubject textGray">{{row.Phonenumber}}</div>
            </div>
        </div>
        
        <div ng-show="searchSubscribersViewModel.data && searchSubscribersViewModel.hasNextPage"
             ng-click="getMore()"
             i18n="_ClickToLoadMore_"
             class="contentPadding centerDiv"></div>
    </div>
</div>

