<div class="page">
    <header di-header-banner pr-back="true" pr-home="true" pr-header-first-line-localized="_NewMessage_Title_" />

    <div class="contentWithoutSubs contentPadding textGray">
        <form name="newMessageForm" novalidate>

            <h4 class="textGreen" i18n="_NewMessage_Organization_"></h4>
            <div class="error" ng-show="submitted && newMessageForm.organization.$error.required" i18n="_Required_"></div>
            <select class="needsclick" name="organization" required ng-model="newMessage.organization" ng-options="o.OriginalOrganisation as o.Name for o in organizations">
                <option value="" i18n="_PleaseSelect_"></option>
            </select>

            <h4 class="textGreen" i18n="_NewMessage_Subject_"></h4>
            <div class="error" ng-show="submitted && newMessageForm.subject.$error.required" i18n="_Required_"></div>
            <input class="inputFullWidth" name="subject" required type="text" maxlength="{{maxTitleFieldLength}}"
                   ng-model="newMessage.subject" di-keyboard-helper-target di-capitalize-first />

            <h4 class="textGreen" i18n="_NewMessage_Content_"></h4>
            <div class="error" ng-show="submitted && newMessageForm.content.$error.required" i18n="_Required_"></div>
            <textarea class="inputFullWidth" rows="3" required name="content" ng-model="newMessage.content" ></textarea>

            <h4 class="textGreen" i18n="_NewMessage_ValidFromDate_"></h4>
            <div class="error" ng-show="submitted && !newMessage.fromDate" i18n="_Required_"></div>
            <di-datepicker required
                           pr-start-year-delta="-2"
                           pr-end-year-delta="10"
                           pr-show-time="true"
                           pr-binding="newMessage.fromDate"
                           class="textGray"
                           di-keyboard-helper-target
                           ng-model="newMessage.fromDate">
            </di-datepicker>

            <h4 class="textGreen" i18n="_NewMessage_ValidToDate_"></h4>
            <div class="error" ng-show="submitted && !toDateIsValid()" i18n="_NewMessage_ValidToDate_IncorrectWithFromDate_"></div>
            <di-datepicker pr-start-year-delta="0"
                           pr-end-year-delta="10"
                           pr-show-time="true"
                           pr-binding="newMessage.toDate"
                           class="textGray"
                           di-keyboard-helper-target>
            </di-datepicker>
        </form>
    </div>

    <footer class="text-center">
        <div class="centerDiv">
            <div class="touchArea touchAreaWidth">
                <button class="buttonTransparent" ng-disabled="loading" type="button" ng-click="addNewMessage()">
                    <img src="../../shared/img/actions/Approved_white_128x128.png" width="36" height="36" />
                    <div i18n="_Accept_"></div>
                </button>
            </div>
        </div>
    </footer>
</div>
