<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411960825850-hi6lfj94hapmuagglom53v2q4co433ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411960825850-hi6lfj94hapmuagglom53v2q4co433ld</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ1U_J7WsAQDtu2Hz_ntYrSB10khysgMU</string>
	<key>GCM_SENDER_ID</key>
	<string>411960825850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>verklizan.umox.mobile</string>
	<key>PROJECT_ID</key>
	<string>api-project-411960825850</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-411960825850.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411960825850:ios:8364f15efc861c2b</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-411960825850.firebaseio.com</string>
</dict>
</plist>