<div class="page">
    <header di-header-banner pr-back="true" pr-home="true" 
        pr-header-first-line="profileInfo.Identity.ShortName" pr-header-second-line-localized="_SubscriberPageNotes_Title_" ></header>

    <div class="content">
        <nav di-subpagetab pr-header-index="0" ></nav>
           
        <div class="subcontent">
            <div class="searchControls" ng-show="notesViewModel.hasNoResults">
                <br />
                <p class="textGray" i18n="_SubscriberPageNotes_NoData_" />
            </div>

            <div class="list" ng-repeat="row in notesViewModel.data">
                <div ng-click="navigateToNoteDetail(row.Id)">
                    <div class="pull-right leftWhiteSpace textGray">
                        <div class="textSmall">
                            <span class="">{{row.CreatedDate | MStoJSDate}}</span>
                        </div>
                        <div class="textSmall">
                            <span i18n="_SubscriberPageNotes_CRMCheck_"></span>
                            <bool-glyphicon bool="row.IsEditDataRequired"></bool-glyphicon>
                        </div>
                        <div class="textSmall">
                            <span i18n="_SubscriberPageNotes_AlarmCheck_"></span>
                            <bool-glyphicon bool="row.IsPopUp"></bool-glyphicon>
                        </div>
                    </div>

                    <h4>
                        <p class="ellipseContent" ng-bind="row.Subject"></p>
                        <img ng-src="../../shared/img/camera-normal_72x72.png" class="x-smallImageSize" ng-show="row.HasFileAttached" />
                    </h4>
                    <div class="textGray">
                        <p class="onlyShowFirstElement" ng-bind-html="trustAsHtml(row.Content)" />
                        <span>{{row.DefaultRemark}}</span>
                    </div>
                </div>
            </div>
            
            <div ng-show="notesViewModel.data && notesViewModel.hasNextPage"
                 ng-click="loadMoreNotes()"
                 i18n="_ClickToLoadMore_"
                 class="contentPadding centerDiv"></div>
        </div>
    </div>

    <footer><di-note-footer></di-note-footer></footer>
</div>