<div class="subscriberPageDevices page">
    <header di-header-banner pr-back="true" pr-home="true"
            pr-header-first-line="profileInfo.Identity.ShortName" pr-header-second-line-localized="_SubscriberPageDevices_Title_" />

    <div class="content">
        <nav di-subpagetab pr-header-index="3" />

        <div class="subcontent">
            <div class="searchControls" ng-show="allowChangeDeviceLinkInResponder && linkedDevicesViewModel.data && linkedDevicesViewModel.totalCount <= 1">

                <form name="searchDevicesForm" class="form-search" novalidate ng-submit="searchDevices()">
                    <br />
                    <div class="input-append">

                        <!--Depending on the amount of linked devices, another placeholder text has to be displayed-->
                        <input class="span2 search-query" name="searchInput" type="text"
                               required ng-minlength="3" ng-model="searchText"
                               i18n-placeholder="{{(linkedDevicesViewModel.totalCount == 0) ? '_SubscriberPageDevices_Link_' : '_SubscriberPageDevices_LinknReplace_' }}" />

                        <button class="btn" type="submit" i18n="_SearchDevice_Search_"></button>
                    </div>
                    
                    <p class="error" ng-show="submitted && searchDevicesForm.searchInput.$invalid" i18n="_SearchDevice_Required_" />
                </form>
                <div ng-show="(linkedDevicesViewModel.hasNoResults && !searchedDevicesViewModel.data) || searchedDevicesViewModel.hasNoResults">
                    <br />
                    <div ng-hide="isLoading()" class="textGray" i18n="_SubscriberPageDevices_NoData_"></div>
                </div>
            </div>

            <div>
                <div class="list" ng-repeat="row in linkedDevicesViewModel.data" ng-show="!searchedDevicesViewModel.data">
                    <div class="imgInlineHeading">
                        <h4>
                            <img ng-src="{{row.LinkingOfDevice | linkingTypeToImage}}" />{{row.Code}}
                        </h4>
                        <div class="messageSubject textGray">{{row.SerialNumber}}</div>
                        <div class="textGray">{{row.Type}}</div>
                        <div class="textGray">{{row.State}}</div>
                    </div>
                </div>
            </div>

            <div>
                <div class="list" ng-repeat="row in searchedDevicesViewModel.data" ng-show="searchedDevicesViewModel.data">
                    <div class="imgInlineHeading">
                        <h4>
                            <img ng-src="{{row.LinkingOfDevice | linkingTypeToImage}}" />{{row.Code}}
                        </h4>
                        <div class="messageSubject textGray">{{row.SerialNumber}}</div>
                        <img class="pull-right x-smallImageSize" src="../../shared/img/actions/Link_black_64x64.png" ng-click="linkDevice(row.Id)" alt="link" />
                        <div class="textGray">{{row.Type}}</div>
                        <div class="textGray">{{row.State}}</div>
                    </div>
                </div>

                <div ng-show="searchedDevicesViewModel.data && searchedDevicesViewModel.hasNextPage"
                     ng-click="searchMoreDevices()"
                     i18n="_ClickToLoadMore_"
                     class="contentPadding centerDiv"></div>
            </div>
        </div>
    </div>

</div>
