<div class="page">
    <header di-header-banner pr-back="true" 
        pr-home="true" 
        pr-header-first-line="profileInfo.Identity.ShortName" 
        pr-header-second-line-localized="_SubscriberPageProfile_Title_" />

    <div class="content">
        <nav di-subpagetab pr-header-index="0" />
        <div class="subcontent contentPadding">
            <h4 class="textDefault" i18n="_SubscriberPageProfile_Subscriber_" />
            <table class="table">
                <tr>
                    <td class="item" i18n="_SubscriberPageProfile_BirthDate_" />
                    <td ng-bind-with-default="profileInfo.Identity.BirthDate | MStoJSDate" pr-default-localized-key="_Unknown_" />                       
                </tr>
                <tr ng-show="showSubscriptionNumberOfSubscriberInResponder">
                    <td class="item" i18n="_SubscriberPageProfile_ClientNr_" />
                    <td ng-bind-with-default="profileInfo.SubscriptionNumber" pr-default-localized-key="_Unknown_"/>                    
                </tr>
                <tr ng-show="showAuthenticationIdOfSubscriberInResponder">
                    <td class="item" i18n="_SubscriberPageProfile_AuthenticationId_" />
                    <td ng-bind-with-default="profileInfo.AuthenticationId" pr-default-localized-key="_Unknown_"/>                    
                </tr>
                <tr ng-show="showCitizenServiceNumberOfSubscriberInResponder">
                    <td class="item" i18n="_SubscriberPageProfile_CitizenServiceNumber_" />
                    <td ng-bind-with-default="profileInfo.CitizenServiceNumber" pr-default-localized-key="_Unknown_"/>                    
                </tr>
                <tr>                    
                    <td class="item" i18n="_SubscriberPageProfile_Status_" />
                    <td ng-bind-with-default="profileInfo.State.Name" pr-default-localized-key="_Unknown_"/>
                </tr>
                <tr>
                    <td class="item" i18n="_SubscriberPageProfile_PhoneNr_" />
                    <td ng-show="subscriberPhoneNumbers.TotalCount != 0">
                        <div ng-repeat="phoneNumber in subscriberPhoneNumbers.Rows">
                            <a href="tel:{{phoneNumber.Number}}" ng-bind="phoneNumber.Number" />
                        </div>
                    </td>                    
                    <td ng-show="subscriberPhoneNumbers.TotalCount == 0" i18n="_Unknown_" />
                </tr>
                <tr>                    
                    <td class="item" i18n="_SubscriberPageProfile_SubscriberRemark_" />
                    <td ng-bind-with-default="profileInfo.DefaultRemark" pr-default-localized-key="_Unknown_"/>    
                </tr>
            </table>

            <h4 class="textDefault" i18n="_SubscriberPageProfile_Residence_" />
            <table class="table">
                <tr>
                    <td class="item" i18n="_SubscriberPageProfile_Address_" />
                    <td ng-bind-with-default="residenceInfo.StreetAddress.ShortAddress" pr-default-localized-key="_Unknown_"/>
                </tr>
                <tr>
                    <td class="item" i18n="_SubscriberPageProfile_PostalCode_" />
                    <td ng-bind-with-default="residenceInfo.StreetAddress.PostalCode" pr-default-localized-key="_Unknown_"/>
                </tr>
                <tr>
                    <td class="item" i18n="_SubscriberPageProfile_KeyCode_" />
                    <td ng-bind-with-default="residenceInfo.DefaultEntrance.KeyCode" pr-default-localized-key="_Unknown_"/>
                </tr>
                <tr>
                    <td class="item" i18n="_SubscriberPageProfile_KeyLocation_" />
                    <td ng-bind-with-default="residenceInfo.DefaultEntrance.KeyLocation.Name" pr-default-localized-key="_Unknown_"/>
                </tr>
                <tr>
                    <td class="item" i18n="_SubscriberPageProfile_PhoneNr_" />
                    <td ng-show="residenceInfo.DefaultPhoneNumber"><a href="tel:{{residenceInfo.DefaultPhoneNumber}}" ng-bind="residenceInfo.DefaultPhoneNumber" /></td>
                    <td ng-show="!residenceInfo.DefaultPhoneNumber" i18n="_Unknown_" />
                </tr>
                <tr>
                    <td class="item" i18n="_SubscriberPageProfile_ResidenceRemark_" />
                    <td ng-bind-with-default="residenceInfo.DefaultRemark" pr-default-localized-key="_Unknown_"/>
                </tr>
            </table>

            <h4 class="textDefault" i18n="_SubscriberPageProfile_Notes_" />
            <p ng-show="profileInfo.DefaultMemo" ng-bind="profileInfo.DefaultMemo"></p>
            <div class="touchArea notesTouchArea" ng-click="toNotes()">
                <span ng-bind="notesInfo.TotalCount" />
                <span class="textGray" i18n="_SubscriberPageProfile_NoteCount_" />
                <img id="toNotes" class="pull-right" src="../../shared/img/arrow_right-gray_24x24.png" />
            </div>
        </div>
    </div>

    <footer><di-note-footer></di-note-footer></footer>
</div>
