<div class="accountPage passwordPage page">
    <header di-header-banner pr-back="true" pr-home="false" pr-header-first-line-localized="_ChangePassword_Title_" />

    <div class="contentWithoutSubs">

        <div class="centeredControls">
            <form name="changePasswordForm" autocomplete="off" novalidate="">
                <p class="textWidthRestriction" i18n="_ChangePassword_Header_"></p>
                <div class="centerDiv">
                    <div ng-show="!usernameRetrieved">
                        <div class="error" ng-show="isSubmitted && changePasswordForm.username.$error.required" i18n="_Required_"></div>
                        <input name="username" class="input-large" type="text" required
                               ng-model="formData.username" i18n-placeholder="_Username_" />
                    </div>

                    <div>
                        <div class="error" ng-show="isSubmitted && changePasswordForm.oldPassword.$error.required" i18n="_Required_"></div>
                        <input name="oldPassword" class="input-large" type="password" required
                               ng-model="formData.oldPassword" i18n-placeholder="_OldPassword_" />
                    </div>

                    <div>
                        <div class="error" ng-show="isSubmitted && changePasswordForm.passwordInput.$error.required" i18n="_Required_"></div>
                        <div class="error" ng-show="isSubmitted && changePasswordForm.passwordInput.$error.equals" i18n="_ResetPassword_PasswordNotEqual_"></div>
                        <input name="passwordInput" class="input-large" type="password" required di-equals="formData.passwordReentered"
                               ng-model="formData.newPassword" i18n-placeholder="_Password_" />
                    </div>

                    <div>
                        <div class="error" ng-show="isSubmitted && changePasswordForm.passwordReenteredInput.$error.required" i18n="_Required_"></div>
                        <input name="passwordReenteredInput" class="input-large" type="password" required
                               ng-model="formData.passwordReentered" i18n-placeholder="_PasswordReentered_" />
                    </div>

                    <div>
                        <button type="button" class="btn roundedBtn-large" ng-click="changePassword()" i18n="_Send_"></button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
