<div class="accountPage passwordPage page">
    <header di-header-banner pr-back="true" pr-home="false" pr-header-first-line-localized="_RequestResetPassword_Title_" />

    <div class="contentWithoutSubs">

        <div class="centeredControls">
            <form name="forgotPasswordForm" autocomplete="off" novalidate="">
                <p class="textWidthRestriction" i18n="_ResetPassword_InputExplanation_"></p>
                <div class="centerDiv">
                    <div class="error" ng-show="isSubmitted && forgotPasswordForm.usernameInput.$error.required" i18n="_Required_"></div>
                    <input name="usernameInput" class="input-large" type="text" required ng-model="username" i18n-placeholder="_Username_" />
                    <div>
                        <button type="button" class="btn roundedBtn-large" ng-click="sendResetPasswordRequest(username)" i18n="_Send_"></button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
