<div class="accountPage loginPage page flex-container">
    <div class="spinner" ng-show="loading" />

    <div class="centerDiv flex-item">
        <img class="centerDiv responderLogo" src="../../shared/img/backgrounds/ResponderApp_1024x1024.png" />
    </div>

    <div class="centeredControls flex-item">
        <form class="centeredControls" ng-submit="login()" autocomplete="off" novalidate="">
            <p class="error" ng-show="localizedErrorMessage" i18n="{{localizedErrorMessage}}"></p>
            <input class="input-large block" type="text" required ng-model="username" i18n-placeholder="_Username_" />

            <input class="input-large block" type="password" required ng-model="password" i18n-placeholder="_Password_" />
            <p class="error" ng-show="invalid" i18n="_Login_Invalid_"></p>

            <button class="btn roundedBtn-large" type="submit" ng-disabled="loading" i18n="_Login_Ok_" />
            <a class="textWhite forgotPassword" ng-click="navigate('accountPages/requestResetPassword')" i18n="_Login_ForgotPassword_"></a>
        </form>
    </div>

    <div class="flex-item">
        <div class="logoContainer" ng-class="{logoBanner : appearanceSettings.BannerVisible}">
            <img ng-if="!appearanceSettings.LogoBase64" src="../../shared/img/umo-app_300x68.png" />
            <img ng-if="appearanceSettings.LogoBase64" ng-src="{{createBase64String()}}" />
        </div>

        <div class="footer text-center row-fluid">
            <div class="span8" />
            <div class="span4">
                <button class="buttonTransparent" ng-disabled="loading" type="button" ng-click="navigate('firstStart/defineUrl')">
                    <img src="../../shared/img/actions/Settings_white_128x128.png" width="36" height="36" />
                </button>
            </div>
        </div>
    </div>
</div>
