<div class="accountPage passwordPage page">
    <header di-header-banner pr-back="true" pr-home="false" pr-header-first-line-localized="_ResetPassword_Title_" />

    <div class="contentWithoutSubs">

        <div class="centeredControls">
            <form name="resetPasswordForm" autocomplete="off" novalidate="">
                <p class="textWidthRestriction" i18n="_ResetPassword_GiveToken_"></p>
                <div class="centerDiv">
                    <div>
                        <div class="error" ng-show="isSubmitted && resetPasswordForm.usernameInput.$error.required" i18n="_Required_"></div>
                        <input name="usernameInput" class="input-large" type="text" required ng-model="formData.username" i18n-placeholder="_Username_" />
                    </div>

                    <div>
                        <div class="error" ng-show="isSubmitted && resetPasswordForm.passwordInput.$error.required" i18n="_Required_"></div>
                        <div class="error" ng-show="isSubmitted && resetPasswordForm.passwordInput.$error.equals" i18n="_ResetPassword_PasswordNotEqual_"></div>
                        <input name="passwordInput" class="input-large" type="password" required di-equals="formData.passwordReentered"
                               ng-model="formData.password" i18n-placeholder="_Password_" />
                    </div>

                    <div>
                        <div class="error" ng-show="isSubmitted && resetPasswordForm.passwordReenteredInput.$error.required" i18n="_Required_"></div>
                        <input name="passwordReenteredInput" class="input-large" type="password" required
                               ng-model="formData.passwordReentered" i18n-placeholder="_PasswordReentered_" />
                    </div>

                    <div>
                        <div class="error" ng-show="isSubmitted && resetPasswordForm.activationCodeInput.$error.required" i18n="_Required_"></div>
                        <input name="activationCodeInput" class="input-large" type="text" required
                               ng-model="formData.activationCode" i18n-placeholder="_ResetPassword_ActivationCodePlaceholder_" />
                    </div>

                    <div>
                        <button type="button" class="btn roundedBtn-large" ng-click="resetPassword()" i18n="_Send_"></button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
