<div class="page">
    <header di-header-banner pr-back="true" pr-home="false" pr-header-first-line-localized="_Messages_Title_" ></header>
   
    <div class="contentWithoutSubs">
        <div class="searchControls" ng-show="messagesViewModel.hasNoResults">
            <br />
            <p class="textGray" i18n="_Messages_NoData_" />
        </div>

        <div class="list" ng-repeat="row in messagesViewModel.data">
            <div class="media-body" ng-click="toDetailMessage($index)">
                <di-message-list-item pr-message-item="row" pr-is-new="{{row.SortIndex > lastSeenMessage}}"></di-message-list-item>
            </div>
        </div>

        <div ng-show="messagesViewModel.data && messagesViewModel.hasNextPage"
             ng-click="loadMoreMessages()"
             i18n="_ClickToLoadMore_"
             class="contentPadding centerDiv"></div>
    </div>

    <footer class="text-center">
        <div class="centerDiv">
            <div class="touchArea touchAreaWidth">
                <button class="buttonTransparent" type="button" ng-click="toNewMessage()">
                    <img src="../../shared/img/messages-white_72x72.png" style="width: 36px; height: 36px;" />
                    <div i18n="_NewMessage_Title_"></div>
                </button>
            </div>
        </div>
    </footer>
</div>
