<div class="page">
    <header di-header-banner pr-back="true" pr-header-first-line-localized="_About_Title_" />

    <div class="contentWithoutSubs contentPadding">
        <div class="about">
            <div class="imgContainer">
                <img src="../../shared/img/umo-app_300x68.png" ng-click="clickedAppLogo()" />
                <p class="text-right">
                    <span ng-bind="appVersion"></span>
                    <span ng-if="appIsDebugBuild">d</span>
                    (<span ng-bind="serviceVersion"></span>)
                </p>
            </div>

            <div class="copyrightNotice">
                <span i18n="_About_Copyright_" /><br />
                <span i18n="_About_CompanyName_" /><br />
                <p i18n="_About_RightsReserved_" />
                <a ng-show="isInDebugMode" i18n="_NavigateToDebugSettings_" ng-click="navigateToDebugPage()"></a>
            </div>
        </div>

        <fieldset>
            <legend class="textGreen" i18n="_About_Disclaimer_" />
            <p class="textGray" i18n="_About_DisclaimerContent_" />
        </fieldset>
    </div>

    <div class="vkzLogoFooter contentPadding">
        <img src="../../shared/img/verklizan_191x50.png" width="115" height="30" />
    </div>
</div>
