<div class="page">

    <header di-header-banner pr-back="true" pr-home="false" pr-header-first-line-localized="{{title}}" />

    <div class="contentWithoutSubs">

        <input type="text" i18n-placeholder="_TypeToFilter_" autofocus class="contentPadding input-block-level"  ng-model="filterText" />

        <div class="list" ng-repeat="item in items track by item.Id">
            <div class="imgInlineHeading " ng-click="selectItem(item)">
                <h4 ng-bind="item.Name"></h4>
            </div>
        </div>

        <div  ng-show="items.length < totalCount && loading === false"
             ng-click="showMore()"
             i18n="_ClickToLoadMore_"
             class="contentPadding centerDiv"></div>
        <div ng-show="show3CharactersRequired" class="error" i18n="_MoreThan3CharactersRequired_"></div>
    </div>
</div>