<div class="page">
    <header di-header-banner pr-back="true" pr-header-first-line-localized="_DebugSettings_" />

    <div class="contentWithoutSubs contentPadding">
        <fieldset>
            <legend class="textGreen" i18n="_General_"></legend>

            <div class="select-FullWidth upperAndLowerPadding">
                <div class="pull-right"> 
                    <di-toggle-switch pr-toggle-switch-id="isInDebugMode"
                                      ng-model="isInDebugMode" ng-change="processToggleDebugMode"></di-toggle-switch>
                </div>
                <span i18n="_DebugSettingsEnabled_"></span>
            </div>
        </fieldset>

        <fieldset>
            <legend class="textGreen" i18n="_AutoCareRequest_"></legend>

            <div class="select-FullWidth upperAndLowerPadding">
                <div class="pull-right">
                    <di-toggle-switch pr-toggle-switch-id="autoCareRequestEnabled"
                                      ng-model="autoCareRequestEnabled" ng-change="processToggleAutoCareRequest"></di-toggle-switch>
                </div>
                <span i18n="_Enabled_"></span>
            </div>

            <div class="select-FullWidth">
                <form name="autoCareIntervalForm">
                    <div class="error" ng-show="autoCareIntervalForm.$invalid && autoCareRequestEnabled" i18n="_Invalid_" />
                    <label for="autoCareInterval" i18n="_AutoCareRequestInterval_"></label>
                    <input name="autoCareInterval" class="inputFullWidth"
                           required type="number" min="0"
                           ng-disabled="!autoCareRequestEnabled"
                           ng-model="autoCareRequestInterval"
                           ng-change="setAutoCareRequestInterval()" />
                </form>                
            </div>
        </fieldset>
    </div>
</div>
