<div class="page">
    <header di-header-banner pr-back="currentUserRole === roles.caregiver"
            pr-about="true" pr-header-first-line-localized="_Settings_Title_"></header>

    <div class="contentWithoutSubs contentPadding">
        <fieldset>
            <legend class="textDefault" i18n="_Settings_Language_"></legend>
            <div di-set-language></div>
        </fieldset>

        <!--needsclick class is used here to prevent FastClick to be used on the select boxes.
        the select boxes did not work when FastClick was enabled-->

        <fieldset ng-show="currentUserRole === roles.caregiver && (newSubscriberStatusIsEditable || newDeviceStatusIsEditable || deviceUnlinkStatusIsEditable)">
            <legend class="textDefault" i18n="_Settings_Status_"></legend>
            <div>
                <div ng-show="newSubscriberStatusIsEditable">
                    <label i18n="_Settings_StatusDescription_"></label>
                    <div di-input-spinner-fullsize pr-is-loading-promise="subscriberStatussesPromise">
                        <select class="needsclick select-FullWidth"
                                ng-model="settings.status"
                                ng-options="status.Id as status.Name for status in statusses | filter: {DeviceRequired: false}"
                                ng-change="setStatus()">
                            <option value="" i18n="_PleaseSelect_"></option>
                        </select>
                    </div>
                </div>

                <div ng-show="newDeviceStatusIsEditable">
                    <label i18n="_Settings_NewDeviceStatusDescription_"></label>
                    <div di-input-spinner-fullsize pr-is-loading-promise="deviceStatussesPromise">
                        <select class="needsclick select-FullWidth"
                                ng-model="settings.newDeviceStatus"
                                ng-options="status.Id as status.Name for status in newDeviceStatusses | filter: {ReadyForPlacement: false}"
                                ng-change="setDeviceStatus()">
                            <option value="" i18n="_PleaseSelect_"></option>
                        </select>
                    </div>
                </div>

                <div ng-show="deviceUnlinkStatusIsEditable">
                    <label i18n="_Settings_NewDeviceDisconnectedStatusDescription_"></label>
                    <div di-input-spinner-fullsize pr-is-loading-promise="deviceStatussesPromise">
                        <select class="needsclick select-FullWidth"
                                ng-model="settings.deviceUnlinkStatus"
                                ng-options="status.Id as status.Name for status in newDeviceStatusses"
                                ng-change="setDeviceUnlinkStatus()">
                            <option value="" i18n="_PleaseSelect_"></option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset ng-show="currentUserRole === roles.caregiver">
            <legend class="textDefault" i18n="_Settings_PushNotifications_"></legend>

            <p class="error" ng-show="pushEnableError" i18n="_Settings_PushTelIsRequired_"></p>

            <div di-input-spinner-fullsize pr-is-loading-promise="caregiverNumbersPromise">
                <select class="needsclick"
                        ng-disabled="isLoading() || pushSettings.pushEnabled"
                        ng-model="pushSettings.pushTelNumber"
                        ng-options="phoneNumber.Number as phoneNumber.Number for phoneNumber in caregiverPhoneNumbers"
                        ng-change="setPushTelNumber(pushSettings.pushTelNumber)">
                    <option value="" i18n="_PleaseSelect_"></option>
                </select>
            </div>

            <div class="select-FullWidth upperAndLowerPadding">
                <div class="pull-right">
                    <di-toggle-switch ng-disabled="isLoading()" pr-toggle-switch-id="pushEnabled"
                                      ng-model="pushSettings.pushEnabled" ng-change="processPushEnabled"></di-toggle-switch>
                </div>
                <span i18n="_Settings_PushNotificationsEnabled_"></span>
            </div>
        </fieldset>

        <fieldset ng-show="currentUserRole === roles.operator && platformIsValidForFacetime()">
            <legend class="textDefault" i18n="_Settings_FaceTimeRequest_"></legend>
            <p i18n="_Settings_FaceTimeDescription_"></p>
            <p class="error" ng-show="faceTimeError" i18n="_Required_"></p>

            <input id="inputFaceTimeId" class="input-block-level" type="text" di-keyboard-helper-target
                   ng-model="faceTimeSettings.faceTimeId" ng-change="setFaceTimeId(faceTimeSettings.faceTimeId)" i18n-placeholder="_Settings_FaceTimeId_" />

            <div class="select-FullWidth upperAndLowerPadding">
                <div class="pull-right">
                    <di-toggle-switch ng-disabled="isLoading()" pr-toggle-switch-id="faceTimeEnabled"
                                      ng-model="faceTimeSettings.faceTimeEnabled" ng-change="processFaceTimeEnabled"></di-toggle-switch>
                </div>
                <span i18n="_Settings_EnableFaceTime_"></span>
            </div>
        </fieldset>

        <fieldset>
            <legend class="textDefault" i18n="_Settings_UserManagement_"></legend>

            <div ng-show="currentUserRole === roles.caregiver" class="contentPaddingExceptBottom">
                <button class="btn roundedBtn-large" i18n="_Settings_ChangePassword_" ng-click=" navigateToChangePassword()"></button>
            </div>

            <div class="contentPaddingExceptBottom">
                <button class="btn roundedBtn-large" i18n="_Settings_Logout_" ng-click="logout()"></button>
            </div>
        </fieldset>
    </div>
</div>
